
.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body {
    letter-spacing: 0.02em; 
    font-family: "Noto Sans", sans-serif
}
#matchCard {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px auto;
    width: 30%;
    transition: transform 0.2s, box-shadow 0.2s;
    min-width: 400px; 
    max-width: 400px; 
    cursor: pointer; 
    text-decoration: none;
    color: black; 
}
.cardLink {
    text-decoration: none;
    color: inherit;
    display: block;  
}
#matchCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

#teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
#matches {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}
.team {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 5px;
    width: 100px;
}
.teamLogo {
    width: 80px;
    height: auto;
}
.chunk {
    height: 27px;
    text-align: center;
}
.result {
    display: flex; 
    width: 100%;
}
.vs {
}
#title {
}
#stats {
}